@page
@model ErrorModel
@{
    ViewData["Title"] = "Váratlan hiba";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">Váratlan hiba lépett fel a kérés közben.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Kérés azonosító:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Fejlesztői mód</h3>
<p>
    Válts át <strong>fejlesztői</strong> kkörnyezetbe, hogy bővebb információkat lás a hibáról.
</p>
