@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Személyes adatok";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>A fiókod általad megadott személyes adatokat tárol. Ez az oldal lehetőséget ad arra, hogy az adatokat letöltsd, vagy véglegesen töröld.</p>
        <p>
            <strong>Az adatok törlése végles. A törölt adatokat nem lehet visszaállítani. Ha törlöd az adataidat, akkor a fiókod is törlődik</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Letöltés</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Törlés</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
